* {
  margin: 0;
  padding: 0;
  
}

.calendar{
  width: 40rem;
  display: flex;
  flex-direction: column;
}

.day {
  position:relative;
  width: calc(100%/7);
  height: 44px;
  display: inline-block;
  background-color: white;
  padding: 0;
  width: 44px;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}
.selected{
  height: 100%;
  text-decoration: underline;
  color: orange;
}
.before {
  color:gray
}
.today{
  color:red;
}