* {
  margin: 0;
  padding: 0;
  
}

.calendar{
  width: 40rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.day {
  position:relative;
  width: calc(100%/7);
  height: 44px;
  display: inline-block;
  background-color: white;
  padding: 0;
  width: 44px;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;

}
.days{
  width: 40rem;
  position:relative;
  display: flex;
  width: calc(100%/7);
  height: 44px;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;

}
.name-day{
  width: 44px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.selected{
  text-decoration: underline;
  background-color: orange;

}
.before {
  background-color: gray;

}
.today{
  background-color: red;

}